html {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}



body {
  background: url('https://www.billboard.com/files/styles/gallery_details_bbcom/public/media/warpaint-lollapalooza-day-1-2014-billboard-650.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: blue;
  background-blend-mode: screen;
}


h1 {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  background: rgba(0, 0, 0, 1);
  text-shadow: 0 1px 0 hotpink;
  padding: 10px;
  text-align: center;
  border: 1px solid hotpink;
  border-radius: 4px;
  margin: 0 auto;
  background-blend-mode: screen
}

#js-start-button {
  background-color: hotpink;
  color: black;
  font-size: 40px;
  font-weight: 700;
  width: 200px;
  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  text-align: center;
  width: 225px;
  margin: 400px auto;
  display: block;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}


#js-start-button:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  border: 2px solid hotpink;
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  border: 1px solid hotpink;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

legend {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.75);
  padding: 12px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 hotpink;
}

fieldset {
  padding: 10px;
}

.radiogroup {
  display: flex;
  margin-bottom: 1em;
}

input[type="radio"] {
  padding-left: 15px;
  margin-right: 1em;
  margin-top: 7px;
}

label {
  color: rgba(0, 0, 0, 0.75);
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0 1px 0 hotpink;
}


.submitButton {
  background-color: hotpink;
  color: black;
  font-size: 40px;
  font-weight: 600;
  height: 10%;
  width: 200px;
  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  text-align: center;
  margin: 15px auto;
  display: block;
}

.submitButton:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  border: 2px solid hotpink;
}

.questionOrder, .scoreOrder {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 1px 0 hotpink;
  background-color: rgba(0, 0, 0, 0.75);
  width: 300px;
  padding: 10px;
  border: 1px solid hotpink;
  border-radius: 4px;
  margin: 20px auto;
}

.correctText {
  font-size: 40px;
  color: green;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 hotpink;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid hotpink;
  border-radius: 4px;
  margin: 10% auto;
  width: 280px;

}

.incorrectText {
  font-size: 40px;
  color: red;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 0 hotpink;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid hotpink;
  border-radius: 4px;
  margin: 10% auto;
  width: 300px;
}

.nextButton {
  background-color: hotpink;
  color: black;
  font-size: 50px;
  font-weight: 600;
  width: 200px;
  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.nextButton:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  border: 2px solid hotpink;
}


.finalScore {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  font-weight: bold;
  text-shadow: 0 1px 0 hotpink;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid hotpink;
  border-radius: 4px;
  margin: 100px auto;
  width: 275px;
}

.playAgainButton {
  background-color: hotpink;
  color: black;
  font-size: 40px;
  font-weight: 600;
  height: 10%;
  width: 200px;
  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
}

.playAgainButton:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  border: 2px solid hotpink;
}

@media only screen and (min-width: 550px) {
  h1 {
    font-size: 3.5em;
  }

  #js-start-button {
    font-size: 60px;
  }
}

@media only screen and (min-width: 650px) {
  legend {
    font-size: 35px;
  }

  label {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 4.5em;
  }

  #js-start-button {
    width: 350px;
    font-size: 70px;
  }

 legend {
    font-size: 50px;
  }

  label {
    font-size: 40px;
  }

  .submitButton {
    font-size: 55px;
    width: 300px;
  }

  .questionOrder, .scoreOrder {
    width: 450px;
    font-size: 45px;
  }

  .incorrectText {
    font-size: 45px;
    width: 450px;
  }

  .correctText {
    font-size: 60px;
    width: 450px;
  }

  .nextButton {
    width: 300px;
    font-size: 60px;
  }

  .finalScore {
    width: 500px;
    font-size: 70px;
  }

  .playAgainButton {
    width: 400px;
    font-size: 60px;
  }
}